.contactUsContainer{
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    backdrop-filter: blur(10px);
    margin-bottom: 100px;
    padding-left: 0;
    padding: 30px;
    margin-top: 0px;
}

.contactUsImages{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}

.contactUsImages img{
    width: 200px;
}

.contactUsContainer p{
    font-size: 0.9rem;
    width: 100%;
}

@media (min-width:765px){
    .contactUsContainer p{
        font-size: 1.1rem;
        width: 100%;
    }

    .aboutUsCard p{
        font-size: 1.1rem;

    }
}
